<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 읽기</title>
    <link rel="stylesheet" href="/default.css">
</head>
<body>
<div id="container">
  <h1>[ 게시판 - 글 읽기 ]</h1>
  <input type="button" onclick="location.href='/board/list'" value="리스트로">
  <p>
    <table th:object=${board}>
      <tr>
        <th>제목</th>
        <td th:text="*{title}"></td>
      </tr>
      <tr>
        <th>내용</th>
        <td th:text="*{contents}"></td>
      </tr>
      <tr>
        <th>조회수</th>
        <td th:text="*{hit}"></td>
      </tr>
      <tr>
        <th>작성일</th>
        <td th:text="*{#temporals.format(created_time, 'yyyy년 MM월 dd일 HH시 mm분')}"></td>
      </tr>
      <tr>
        <th>작성자</th>
        <td th:text="*{member.name}"></td>
      </tr>
      <tr th:if="${file}">
        <th>첨부파일</th>
        <td>
        	<a th:text="${file.original_filename}" th:href="@{/board/download/{id}(id=${file.attachedFile_id})}"></a>
        </td>
      </tr>
    </table>
    <p>
    <div class="center">
    	<th:block th:if="${session.loginMember.member_id == board.member.member_id}">
	      <input type="button" th:onclick="|location.href='/board/update?id=${board.id}'|" value="수정하기">
	      <input type="button" th:onclick="|location.href='@{delete(id=${board.id})}'|" value="삭제하기">
    	</th:block>
  </div>
</div>
</body>
</html>