<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 리스트</title>
    <link rel="stylesheet" href="/default.css">
</head>
<body>
<div id="container">
  <h1>[ 게시판 - 리스트 ]</h1>
  <input type="button" onclick="location.href='/member/join'" value="회원가입">
  <input type="button" onclick="location.href='/member/login'" value="로그인">
  <p>
  <table>
    <tr>
      <th>No</th>
      <th>제목</th>
      <th>작성자</th>
      <th>조회수</th>
      <th>작성일</th>
    </tr>
    <tr th:each="board, boardStat : ${boardList}">
      <td class="center" th:text="${boardStat.count}"></td>
      <td class="center">
      	<a th:text="${board.title}" th:href="@{/read(id=${board.id})}"></a>
      </td>
      <td class="center" th:text="${board.username}"></td>
      <td class="center" th:text="${board.hit}"></td>
      <td class="center" th:text="${#temporals.format(board.created_time, 'yyyy년 MM월 dd일 HH시 mm분')}"></td>
    </tr>
  </table>
  <p>
  <div class="center">
    <input type="button" onclick="location.href='/'" value="메인으로">
    <input type="button" onclick="location.href='/write'" value="글쓰기">
    
  </div>
</div>
</body>
</html>