<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입 페이지</title>
<link rel="stylesheet" href="/default.css">
</head>
<body>
	<div id="container">
		<h1>회원가입</h1>
		<form action="join" method="POST" th:object="${member}">
			<!-- <div class="error" th:if="${에러메시지}">[[${에러메시지}]]</div> -->
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="error : ${#fields.globalErrors}" th:text="${error}" class="error">
			</div>
			<table>
				<tr>
					<th>아이디</th>
					<td>
						<input type="text" th:field="*{member_id}">
						<div class="error" th:errors="*{member_id}"></div>
					</td>
				</tr>
				<tr>
					<th>비밀번호</th>
					<td>
						<input type="password" th:field="*{password}">
						<div class="error" th:errors="*{password}"></div>	
					</td>
				</tr>
				<tr>
					<th>이름</th>
					<td>
						<input type="text" th:field="*{name}">
						<div class="error" th:errors="*{name}"></div>
					</td>
				</tr>
				<tr>
					<th>성별</th>
					<td>
						<th:block th:each="gender : ${T(com.example.board.model.member.GenderType).values()}">
							<label for="${#ids.next('gender')}" th:text="${gender.desc}"></label>
							<input type="radio" th:field="*{gender}" th:value="${gender}">
						</th:block>
					<!--
						<label for="gender1">남</label>
						<input type="radio" th:field="*{gender}" value="MALE">
						<label for="gender2">여</label>
						<input type="radio" th:field="*{gender}" value="FEMALE">
						<div class="error" th:errors="*{gender}"></div>
					  -->
					</td>
				</tr>
				<tr>
					<th>생년월일</th>
					<td>
						<input type="date" th:field="*{birth}">
						<div class="error" th:errors="*{birth}"></div>
					</td>
				</tr>
				<tr>
					<th>이메일</th>
					<td><input type="text" th:field="*{email}"></td>
				</tr>
			</table>
			<p>
			<div class="center">
				<input type="button" onclick="location.href='/'" value="메인으로">	
				<input type="submit" value="가입하기">
				<input type="reset" value="다시작성">
			</div>
		</form>
	</div>
</body>
</html>